<div onclick = "window.location.href = '/article/<%=article.url%>';"class="col l12 m6 s12">
    <div class="card-panel grey lighten-5 z-depth-1 hoverable sticky ">
        <%if(article.imageID && article.imageID.length > 0 && article.imageID[0].length > 1){%><div class="image-preview left" style="background-image: url(/dynamic/tiny/<%=article.imageID[0]%>.png)"></div><%}%>
        <a <%try{%> href = "/article/<%=article.url%>"<%}catch(e){%>"<%}%>  class="sticky-rapper black-text">
            <%=article.title%>
        </a>
        <%if(typeof article.authorInfo == 'object' && article.authorInfo &&  article.authorInfo.length > 0){%>
        <small class="grey-text text-lighten-1 "> by
          <%for(var i = 0; i < article.authorInfo.length; i ++){%>
              <%if(article.authorInfo[i].name ){%> <a href="/author/<%=article.authorInfo[i].email%>" class="green-text underline"><%=article.authorInfo[i].name%></a> <%}else{%>
              <span class="green-text "><%=article.authorInfo[i].email%></span> <%}%>
              <%if(i != article.authorInfo.length - 1){%>
                <span class="black-text "> | </span>
              <%}%>
          <%}%>
          </small>
        <%}%>
    </div>
</div>
