<div onclick = "window.location.href = '/article/<%=url%>';" class="col m4">
    <div class="card-panel grey lighten-5 z-depth-1 hoverable no-padding">
        <%if(imageID && imageID.length > 0 && imageID[0].length > 1){%><img alt = "<%=title%>" style="display:block; margin-left: auto; margin-right: auto;" class="med-preview" src="/dynamic/normal/<%=imageID[0]%>.png"></img><%}%>
        <div style="padding: 6px;">
            <a class="preview-link" href="/article/<%=url%>"><span class = "h7"><%=title%></span></a>
            <%if(typeof authorInfo == 'object' && authorInfo &&  authorInfo.length > 0){%>
            <br><small class="grey-text text-lighten-1 "> by
              <%for(var i = 0; i < authorInfo.length; i ++){%>
                  <%if(authorInfo[i].name ){%> <a href="/author/<%=authorInfo[i].email%>" class="green-text underline"><%=authorInfo[i].name%></a> <%}else{%>
                  <span class="green-text "><%=authorInfo[i].email%></span> <%}%>
                  <%if(i != authorInfo.length - 1){%>
                    <span class="black-text "> | </spaN>
                  <%}%>
              <%}%>
              </small>
            <%}%>
            <p style="margin-top: 10px" class="grey-text text-lighten"><%=summary%></p>
        </div>
    </div>
</div>
